@import url('components.css');

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70vh;
}

.home img {
  width: 50rem;
}

.home .content h1 {
  font-size: 6rem;
  text-transform: uppercase;
  margin-top: 1.5rem;
  color: var(--white);
}

.home .content a {
  display: inline-block;
  width: auto;
}

.home-category .box-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-category .box-container .box {
  padding: 2rem;
  text-align: center;
  border: var(--border);
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
}

.home-category .box-container .box h3 {
  text-transform: uppercase;
  color: var(--black);
  padding: 1rem 0;
  font-size: 2rem;
}

.home-category .box-container .box p {
  line-height: 2;
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 0.5rem 0;
}

.home-category {
  padding-bottom: 0;
}

.add-data form {
  max-width: 70rem;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
  border: var(--border);
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  border-radius: 0.5rem;
}

.add-data form .flex {
  display: flex;
  justify-content: space-between;

  
  flex-wrap: wrap;
}

.add-data form .flex .inputBox {
  width: 49%;
}

.add-data form .box {
  width: 100%;
  margin: 1rem 0;
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
  border-radius: 0.5rem;
  background-color: var(--light-bg);
  border: var(--border);
}

.add-data form textarea {
  height: 20rem;
  resize: none;
}

.table-container {
  padding: 0 10%;
  margin: 40px auto 0;
}

.table-container .flex {
  padding: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-container .flex .search-form {
  width: 25rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem 2rem;
  background-color: var(--white);
  border: var(--border);
}

.table-container .flex .search-form input {
  width: 100%;
  background: none;
  font-size: 2rem;
  color: var(--blue);
}

.table-container .flex .search-form button {
  font-size: 2rem;
  color: var(--blue);
  cursor: pointer;
  background: none;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  background-color: var(--blue);
}

.table thead tr th {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.35px;
  color: #fff;
  opacity: 1;
  padding: 1.5rem;
  vertical-align: top;
  border: var(--border-white);
}

.table tbody tr td {
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: 0.35px;
  color: var(--black);
  background-color: var(--light-bg);
  padding: 1.4rem;
  text-align: center;
  border: var(--border);
}

.table img {
  width: 15rem;
}

.update-data form {
  max-width: 50rem;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
  border: var(--border);
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  border-radius: 0.5rem;
}

.update-data form img {
  height: 25rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

.update-data form .box {
  width: 100%;
  border: var(--border);
  background-color: var(--white);
  border-radius: 0.5rem;
  background-color: var(--light-bg);
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
  margin: 1rem 0;
}

.about .row {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
}

.about .row .box {
  flex: 1 1 40rem;
  text-align: center;
}

.about .row .box img {
  margin-bottom: 2rem;
  height: 40rem;
}

.about .row .box h3 {
  padding: 1rem 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--white);
}

.about .row .box p {
  line-height: 2;
  font-size: 1.5rem;
  color: var(--white);
  padding: 1rem 0;
}

.about .row .box .btn {
  display: inline-block;
  width: auto;
}

@media (max-width: 768px) {
  .home {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  .table-container .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }

  .table tr {
    margin-bottom: 1.5rem;
  }

  .table tbody tr td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .table td:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 1.5rem;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: left;
  }
}

@media (max-width: 450px) {
  .about .row .box img {
    width: 100%;
    height: auto;
  }
}
